.login-main {
  background-image: url(../../Assets/Images/login.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  background-color: hsla(33, 73%, 69%, 0.7);
}

.labeline {
  color: #154c79;
}
input:focus + .labeline,
input.filled + .labeline {
  top: -1px;
  font-size: 0.8rem;
  padding-inline: 0.3rem;
  border-radius: 5px;
  background-color: hsl(33, 73%, 69%);
}

.labeline {
  font-weight: 600;
  font-size: 1.2rem;
}

.labeline {
  position: absolute;
  top: 50%;
  left: 0.75rem; /* Adjust label position */
  transform: translateY(-50%);
  transition: top 0.2s ease-out, font-size 0.2s ease-out, color 0.2s ease-out;
  pointer-events: none;
  z-index: 1;
}
